**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md